* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
html {
  font=size: 62.5%;
}
*/

.clear {
  clear: both;
}

h1 {
  font-size: 24px;
}

a {
  color: rgb(241, 232, 232);
  text-decoration: none;
  font-size: 24px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 17px;
}

button {
  font-size: 13px;
}

nav {
  background-color: rgb(61, 81, 102);
  color: rgb(241, 232, 232);
  padding: 1rem;
}

nav h1 {
  float: left;
}

nav ul {
  float: right;
  list-style: none;
}

nav li {
  float: left;
  margin: 0rem 4rem;
}

.h-section {
  background: yellowgreen;
  height: 30rem;
}
