* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
html {
  font=size: 62.5%;
}
*/

.clear {
  clear: both;
}

h1 {
  font-size: 24px;
}

a {
  color: rgb(241, 232, 232);
  text-decoration: none;
  font-size: 24px;
}

h2 {
  font-size: 26px;
  margin-top: 1rem;
}

h3 {
  font-size: 17px;
}

button {
  font-size: 13px;
}

nav {
  background-color: rgb(61, 81, 102);
  color: rgb(241, 232, 232);
  padding: 1rem;
}

nav h1 {
  float: left;
}

nav ul {
  float: right;
  list-style: none;
}

nav li {
  float: left;
  margin: 0rem 4rem;
}

.hero-section {
  background-image: url("img/bakery.jpg");
  background-size: 90rem;
  height: 60rem;
  text-align: center;
  color: wheat;
  padding: 15rem;
  text-shadow: 3px 3px 3px black;
}

.hero-section button {
  margin-top: 4rem;
  padding: 0.5rem 2rem;
  background: rgb(61, 81, 102);
  border: none;
  color: wheat;
  cursor: pointer;
}

.form-section {
  text-align: center;
}
form input,
form label,
form textarea {
  display: block;
  font-size: 20px;
}

form input,
form textarea {
  margin: 1rem auto;
  width: 50%;
}

form button {
  margin-top: 0.5rem;
  margin-bottom: 4rem;
  padding: 0.5rem 2rem;
  background: rgb(61, 81, 102);
  border: none;
  color: wheat;
  cursor: pointer;
  width: 50%;
}
