* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
html {
  font=size: 62.5%;
}
*/

.clear {
  clear: both;
}

h1 {
  font-size: 36px;
}

a {
  color: rgb(241, 232, 232);
  text-decoration: none;
  font-size: 15px;
}

h2 {
  font-size: 26px;
  padding: 5rem, 5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 17px;
}

button {
  font-size: 13px;
}

nav {
  background-color: rgb(61, 81, 102);
  color: rgb(241, 232, 232);
}

nav h1 {
  float: left;
}

nav ul {
  float: right;
}
