* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font=size: 62.5%;
}

button {
  padding: 2rem 4rem;
  cursor: pointer;
}

button:hover {
  background: lightslategray;
}

input:focus {
  background: rgb(141, 193, 245);
}
