button {
  margin: 20px;
  color: blue;
  background-color: burlywood;
  padding: 50px 20px 10px 8px;
  text-align: center;
}

h1 {
  background-color: crimson;
  padding: 20px;
  margin: 50px;
  text-align: center;
}
