/*
this is the default font size
html {
    font-size:16px;
*/

.text-selection {
  font-size: 1rem;
}

.text-selection div {
  font-size: 1.7rem;
  margin-top: 1em;
}

button {
  margin: 2rem;
  padding: 2rem 4rem;
  background: none;
  border: 0.3rem solid rgb(111, 82, 207);
  color: wheat;
  font-size: 2.4rem;
  /*border-radius: 50%;
  height: 20rem;
  width: 20rem;*/
  border-radius: 1rem;
  background-color: seagreen;
}

.parisa {
  font-size: 1rem;
}

a {
  background: yellow;
  text-align: center;

  display: inline-block;
  height: 20rem;
  width: 20rem;
  margin: 2rem;
}
img {
}
